@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");
/* Base Styling */

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  color: black;
}

.before {
  font-size: 2.6rem;
  overflow: hidden;
}

.after {
  font-size: 1.2rem;
}

.container {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: #001f3f;
  border-style: solid;
  flex-direction: column;
  width: 300px;
  padding: 12px;
  border-radius: 15px;
}

.before,
.after {
  display: flex;
  justify-content: flex-end;
  width: 233px;
  overflow: hidden;
  height: 30px;
}

.first-row {
  flex-direction: column;
  align-items: flex-end;
  padding: 1.6rem;
  background-color: #aaaaaa;
  height: 100px;
}

.button-container {
  display: flex;
  max-width: 265px;
  flex-wrap: wrap;
  margin-top: 5px;
  border-style: solid;
}

.clear,
.delete {
  flex: 1 50%;
  background-color: crimson;
}

button {
  flex: 1 25%;
  padding: 15px;
  border-color: white;
}

.btn-operator {
  background-color: orange;
}

.btn-equals {
  background-color: green;
}
